* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #menu-container {
    display: flex;
    justify-content: center;
    color: #fff;
    background: #1F2937;
    border: 1px solid #1F2937;
    padding: 20px 0;
  }

  #menu {
    border: 1px solid #1F2937;  /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-around;
  }

  .headerlogo {
    font-size: 36px;
    font-weight: bold;
  }

.links {
    border: 1px solid #1F2937;
    display: flex;
    justify-content: flex-end;
}

.headerlinktwo {
    margin-left: 20px;
}

.headerlinkthree {
    margin-left: 20px;
}

 #header-container {
    color: #fff;
    background: #1F2937;
    display: flex;
    justify-content: center;
}

#header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
} 

.title {
    font-size: 48px;
}

.description {
    margin-top: 20px;
    font-size: 24px;
}

.SignUp {
    margin-top: 20px;
    border: 2px solid #3882F6;
    background-color: #3882F6;
    width: 120px;
    height: fit-content;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}

.title {
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}

#photo-grid-container {
    display: flex;
    justify-content: center;
}

#photo-grid {
    margin-top: 70px;
    width: 900px;
    display: flex;
    justify-content: center;
}

.photo-grid-item {
    border: 5px solid rgb(116, 116, 211);
    width: 200px;
    height: 200px; 
    margin-left: 50px;
    border-radius: 25px;
}

#text-container {
    display: flex;
    justify-content: center;
}

#text-grid {
    margin-top: 30px;
    width: 900px;
    display: flex;
    justify-content: center;
}

.text-grid-item {
    border: 1px white; 
    width: 200px;
    height: 200px;
    margin-left: 50px;
    font-size: 24px;
}

#quote-container {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    height: 350px;
}

#quote-grid {
    margin-top: 30px;
    width: 900px;
    display: flex;
    justify-content: flex-start;
}

.quote {
    margin-top: 50px;
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
}

#author-grid {
    margin-top: 30px;
    width: 900px;
    display: flex;
    justify-content: flex-end;
}

.author {
    margin-top: 250px;
    font-size: 24px;
    font-style: italic;
    color:#1F2937;
    font-weight: bold;
}

#signup-container {
    display: flex;
    justify-content: center;
    background-color: white;
}

#signup-grid {
    display: flex;
    border: 2px solid #3882F6;
    background-color: #3882F6;
    width: 900px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.text-signup {
    margin-right: 250px;
    color: white;
}

.Signup {
    border: 2px solid white;
    width: 100px;
    height: 25px;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    color: white;
}












